html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
body {
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
